#img {
    width: 600px;
    height: 400px;
    padding: 100px;

}

.wcode {
    padding-left: 100px;
}

button {
    margin-left: 100px;
    border-radius: 20px;
    height: 30px;
}

#a {
    text-decoration: none;
    color: black;
}


#p {
    margin-right: 100px;
}

.img {
    width: 15px;
}

